.aside {
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.activeUser {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid #ccc;
  margin-top: 30px;
  padding-top: 10px;

  p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px 0;
  }

  &__avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  &__column {
    padding: 5px 0;
    overflow: hidden;
  }
}
